#sleek-widget-wrap {
    width: 400px;
    height: 420px;
    inset: auto auto 10px 10px;
    background-color: #1a1a1a;
}

@media screen and (max-width: 450px) {
    #sleek-widget-wrap {
        top: auto !important;
        bottom: 0 !important;
    }
}
