@import './fonts.scss';
@import './react-toastify.scss';
@import './sleekplan.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wkit-dialog__overlay {
    z-index: 10000 !important;
}
